DEBUG=on
SECRET_KEY=tu_clave_secreta_super_larga

# Configuración de la base de datos PostgreSQL
DB_NAME=peru_heritage_db
DB_USER=mi_usuario
DB_PASSWORD=mi_contraseña
DB_HOST=127.0.0.1
DB_PORT=5432

# Configuración del correo electrónico
RESEND_API_KEY=tu_api_key_de_resend
RESEND_FROM_EMAIL=tu_email_de_envio

# Configuración de google OAuth
GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google

